# Exercicío ex01.css

# EX01 — Estilos básicos


/* Estilo do título principal h1 */
h1 {
    color: purple;       /* Muda a cor do texto para roxo */
    font-size: 40px;     /* Aumenta o tamanho da letra */
}

/* Estilo dos parágrafos p */
p {
    color: rgb(70, 70, 70);  /* Muda a cor do texto para cinza escuro */
    font-size: 20px;         /* Define o tamanho da letra dos parágrafos */
}

body {
    background-color: pink;
}
