body {
    color: white;
    background-color:rgb(15, 14, 14);
    font-family: Arial, Helvetica, sans-serif;
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px
}

a {
    color: rgb(134, 131, 131);  
    text-decoration: none;
}
header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #5bbe42

}

.center {
    text-align: center
}

h1 {
    color: rgb(0, 255, 145);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color:aquamarine;
    font-family: 'Times New Roman', Times, serif;
    font-kerning: initial;
}


footer{
    text-align: center;
}

footer img {
    width: 100px;
    height: 100px;
   
}


footer p{
    margin-top: 2px;
    text-align: center;
}
