/* Pratica 10.css */

/* Flexbox (organização de layout) */


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:aqua;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 300px;
    padding: 20px;
}

.card{
    width: 200px;
    padding: 15px;

    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}