/* Pratica 12.css */

/* CSS Grid */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #7ea7b1;
}

/* Container Grid */
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding: 20px;
}


/* Caixas */
.box{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    font-size: 20px;
}


.box:first-child{
    grid-column: span 2;
    grid-row: span 2;
}


.caixa{

    grid-row: span;
}