/* Pratica 13.css */

/* Grid + organização de layout */

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    text-align: center;
    
    
}



.container{
    display: grid;

    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;

    grid-template-areas:
        "header header"
        "menu content"
        "footer footer";
    
    height: 100vh;
    gap: 10px;

}
    

.header{
    grid-area: header;
    background-color: #333;
    color: white;
    
}

.menu{
    grid-area: menu;
    background-color: #ddd;
    
    

}


.content{
    grid-area: content;
    background-color: #f5f5f5;
}

.footer{
    grid-area: footer;
    background-color: #333;
    color: white;
}